@model EurocomV2.Models.AssignViewModel

<h1>Assign - Index</h1>
@*<link rel="stylesheet" href="~/css/Dropdown.css">

<div class="dropdown">
    <button class="dropbtn">Please select a patient...</button>
    <div class="dropdown-content">
        @foreach (var patient in Model.patients)
        {
            <a asp-controller="Assign" asp-action="AssignClick" asp-route-userId="@patient.UserId">@patient.Firstname @patient.Lastname</a>
        }
    </div>
    <div>
        <br />
    </div>
    @if (Model != null)
    {
        if (Model.assignMessage != null)
        {
            <div>
                <p>@Model.assignMessage</p>
            </div>
        }
    }
</div>*@

<form asp-controller="Assign" asp-action="Assign_Click">
    <label>Please enter the code</label>
    <input type="text" name="securityCode"><br/>
    <input type="submit" value="Confirm">
</form>
<div>
    <br/>
</div>
@if(Model != null)
{
    <p>@Model.assignMessage</p>
}