@model IEnumerable<EurocomV2.Models.AdminCRUD>

@{
    ViewData["Title"] = "Index";
}


<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <p align="right"><a class="nav-link text-blue" asp-area="" asp-controller="Users" asp-action="Index">Go to Patient Page <span class="glyphicon glyphicon-user"></span></a></p>
</div>
<p>
    <a asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Create New Doctor</a>
</p>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
