@model IEnumerable<EurocomV2.Models.Doctor>

<p>
    @*<a asp-action="DoktorCreate">Create New Doctor</a>*@
    <a asp-controller="Account" asp-action="Register">Create New Doctor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                <a asp-action="DoktorEdit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="DoktorDetails" asp-route-id="@item.ID">Details</a> |
                <a asp-action="DoktorDelete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
